<p>
    Apresentação oral de alunos<br />
    de inicação científica<br /><br />
    Início: 18:30<br />
    Término: 21:00<br />
    Obs.: 20 minutos para cada aluno com 5 minutos para<br />
    discussão. Total de 5 alunos para este dia!
</p>