<table>
    <tr>
        <td>
            1º Palestra
        </td>
        <td>
            Início: 09:00
            Término: 10:00
        </td>
        <td>
            A definir.
        </td>
    </tr>
    <tr>
        <td>
            Exposição de Pôster acadêmico 
        </td>
        <td>
            Início: 10:20
            Término: 11:20
        </td>
        <td>
            ------
        </td>
    </tr>
    <tr>
        <td>
            2º Palestra
        </td>
        <td>
            Início: 13:00
            Término: 14:00
        </td>
        <td>
            Avaliação do conteúdo de BIOQUÍMICA NO LIVRO DIDÁTICO de biologia do ensino médio - Apresentação de Daniele Silva
        </td>
    </tr>
    <tr>
        <td>
            Vídeo 
        </td>
        <td>
            Início: 14:20
            Término: 15:00
        </td>
        <td>
            ------
        </td>
    </tr>
    <tr>
        <td>
            3º Palestra 
        </td>
        <td>
            Início: 15:20
            Término: 16:20
        </td>
        <td>
            "Caracterização do perfil dos alunos participantes dos cursos práticos de curta duração oferecidos pelo Instituto de Bioquímica Médica em 2012". - Apresentação de Viviane
        </td>
    </tr>
</table>