@{
    ViewBag.Title = "Semana Acadêmica da Biologia - Confirmação de inscrição";
}

<div style="margin: 30px auto 0 auto; width: 580px;">
    <table style="border: 0 solid #FFFFFF; width: 560px;">
        <tr>
            <td>
                <img alt="Ok" src="@Url.Content("~/Content/images/Ok.png")" style="height: 100px; width: 100px;" />
            </td>
            <td>
                <h2 style="margin: 0 0 0 10px;">Parabéns sua inscrição foi realizada com sucesso!</h2>
            </td>
        </tr>
    </table>
</div>