<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/LightPage.css")" rel="stylesheet" type="text/css" />
</head>

<body class="light">
    @RenderBody()
</body>
</html>
