@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Ih, foi mal, parece que encontramos um erro. Fique tranquilo, nossos babuínos 
    super treinados já foram notificados e irão concertar logo logo. =D
</h2><br />
<img alt="Error" src="http://css-tricks.com/images/404.jpg" style="width: 500px; height: 334px; margin: 0 23%;" />
