@{
    ViewBag.Title = "Semana Acadêmica da Biologia - Sobre Evento";
}

<h2 style="padding: 25px 0 0 50px; font-size: 20px;"><img alt="Error" src="@Url.Content("~/Content/images/blue-arrow.png")" style="width: 2%; height: 2%; margin-right: 5px;" />Que evento é esse?</h2><br />

<p style="padding: 0 50px; text-align: justify; font-size: 14px; line-height: 200%;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    A I Semana da Biologia do CEDERJ é um evento desenvolvido por alunos da licenciatura 
    de ciências biológicas do polo de Duque de Caxias e do tutor coordenador da biologia, 
    destinado a proporcionar espaços de discussão e troca de conhecimento entre estudantes 
    da área das Ciências Biológicas, de qualquer instituição de ensino através de palestras, 
    mini-cursos e outras atividades que é de grande valor para a formação dos futuros biólogos. 
    Temos como objetivo trazer algumas áreas de atuação do biólogo e proporcionar a relação 
    direta entre estudantes e especialistas assim como a interação dos estudantes que já 
    possuem esperiência em alguma área de atuação.
    A semana irá ocorrer nos dias 16 a 20 de outubro e irá abordar alguns dos temas mais atuais 
    e importantes para a formação acadêmica.
</p>

