/*------------------------------------------------------------------------------
  Configurações de layout referente a tela de login

  Data de criação: 01/09/2012
  Autor: Diogo de Lima
  ------------------------------------------------------------------------------*/
div.center {
    margin: 30px 23%;
}
div.login {
    margin: 30px auto 0 auto;
    width: 312px;
    padding: 26px 24px 46px;
    font-weight: normal;
    border: 1px solid;
    -moz-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
    -webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
    box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
    border-image: initial;
    -moz-border-radius: 10px; /* Para Firefox */
    -webkit-border-radius: 10px; /*Para Safari e Chrome */
    border-radius: 10px; /* Para Opera 10.5+*/
}
.login label {
    font-size: 14px;
    font-weight: bold;
} 
input#UserName,
input#Password {
    font-size: 24px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    width: 98%;
}
td.left div.sign-in,
td.left div.signin-box {
    width: 378px !important;
}div.login {
    background: white;
    border-color: #E5E5E5 !important;
}
.login label {
    color: #00315E;
}